@page "/tvseries/update/{id:int}"

@using LCPCollection.Shared.Classes
@using Microsoft.AspNetCore.Components.Forms
@using System.Net.Http.Json
@using lcpCl = LCPCollection.Shared.Classes
@inject ILogger<TVSeries> _logger
@inject NavigationManager navMan
@inject HttpClient httpClient

<PageTitle>LCPCollection - Update TV Series</PageTitle>

<h3><MudIcon Icon="@Icons.Material.Filled.Tv" Color="Color.Inherit"></MudIcon> Update TV Series</h3>

@if (cid != -1)
{
    @if(TvseriesXList != null)
    {
        <EditForm Model="TvseriesXList" OnValidSubmit="UpdateIt">
            <DataAnnotationsValidator />
            <ValidationSummary />

            @foreach(var modelx in TvseriesXList!)
            {
                <div class="form-group mt-3">
                    <MudTextField Label="Title" @bind-Value="modelx.Title" For="@(() => modelx.Title)"/>
                </div>

                <div class="form-group mt-3">
                    <MudTextField AutoGrow="true" Lines="10" MaxLines="10" Label="Description" @bind-Value="modelx.Description" For="@(() => modelx.Description)"/>
                </div>

                <div class="form-group mt-3">
                    <MudTextField Label="Cover URL" @bind-Value="modelx.CoverUrl" For="@(() => modelx.CoverUrl)"/>
                </div>

                <div class="form-group mt-3">
                    <MudTextField Label="Image URL" @bind-Value="modelx.ImageUrl" For="@(() => modelx.ImageUrl)"/>
                </div>

                <div class="form-group mt-3">
                    <MudTextField Label="Companies" @bind-Value="modelx.Companies" For="@(() => modelx.Companies)"/>
                </div>

                <div class="form-group mt-3">
                    <MudTextField Label="Publishers" @bind-Value="modelx.Publishers" For="@(() => modelx.Publishers)"/>
                </div>

                <div class="form-group mt-3">
                    <MudTextField Label="Platforms" @bind-Value="modelx.Platforms" For="@(() => modelx.Platforms)"/>
                </div>

                <div class="form-group mt-3">
                    <MudTextField T="DateTime?" Format="s" InputType="InputType.DateTimeLocal" Label="Release Date" @bind-Value="modelx.ReleaseDate" For="@(() => modelx.ReleaseDate)"/>
                </div>

                <div class="form-group mt-3">
                    <MudTextField Label="Trailer URL" @bind-Value="modelx.TrailerUrl" For="@(() => modelx.TrailerUrl)"/>
                </div>

                <div class="form-group mt-3">
                    <MudTextField Label="Genre" @bind-Value="modelx.Genre" For="@(() => modelx.Genre)"/>
                </div>

                <div class="form-group mt-3">
                    <MudNumericField Label="Rating" @bind-Value="modelx.Rating" For="@(() => modelx.Rating)" Min="0" Max="10" />
                </div>
            }

            <div class="form-group mt-3">
                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled" Class="btnupd">Update</MudButton>
                <MudButton ButtonType="ButtonType.Button" Color="Color.Secondary" Variant="Variant.Filled" Class="btnbck" OnClick="Back">Back</MudButton>
            </div>
        </EditForm>
    } 
    else
    {
        <div class="col-12 loadblk">
            <p>Loading...</p>
        </div>
    }
}
else
{
    <div class="col-12 warnblk">
        <MudCard>
            <MudCardContent>
                <div class="text-center mx-auto">
                    <i class="bi bi-exclamation-circle-fill warnico"></i>
                    <p class="warntxt">0 TV Series has been found!</p>
                </div>
            </MudCardContent>
            <MudCardActions>
                <div class="text-center mx-auto">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/tvseries" Class="text-center mx-auto">Back</MudButton>
                </div>
            </MudCardActions>
        </MudCard>
    </div>
}

@code {
    [Parameter] public int id { get; set; } = -1;
    public int cid { get; set; }
    private List<lcpCl.TVSeries>? TvseriesXList = new List<lcpCl.TVSeries>();

    protected override async Task OnInitializedAsync()
    {
        TvseriesXList = await httpClient.GetFromJsonAsync<List<lcpCl.TVSeries>>($"https://localhost:5000/api/tvseries/{id}");
        cid = TvseriesXList!.Where(x => x.Id == id).Count() == 1 ? id : -1;
    }

    async Task UpdateIt()
    {
        try
        {
            if (cid != -1)
            {
                await httpClient.PutAsJsonAsync<lcpCl.TVSeries>($"https://localhost:5000/api/tvseries/{cid}", TvseriesXList![0]);
                _logger.LogInformation("Updated tvserie successfully!");
            }
            else
            {
                _logger.LogInformation("Unable to update tvserie because it hasn't been found or does not exist!");
            }

            navMan.NavigateTo(cid != -1 ? $"/tvseries/{cid}" : "/tvseries", false);
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, ex.Message);
        }
    }

    void Back()
    {
        navMan.NavigateTo(cid != -1 ? $"/tvseries/{cid}" : "/tvseries", false);
    }
}
